# Tf-Idf example

In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
import matplotlib.pyplot as plt
texts = [
    "good movie", "not a good movie", "did not like", 
    "i like it", "good one", "I hate it", "terrible", "almost good"
]
# using default tokenizer in TfidfVectorizer
tfidf = TfidfVectorizer(min_df=2, max_df=0.5, ngram_range=(1, 2))
features = tfidf.fit_transform(texts)
pd.DataFrame(
    features.todense(),
    columns=tfidf.get_feature_names()
)

       good  good movie        it      like     movie       not
0  0.471725    0.623489  0.000000  0.000000  0.623489  0.000000
1  0.400293    0.529076  0.000000  0.000000  0.529076  0.529076
2  0.000000    0.000000  0.000000  0.707107  0.000000  0.707107
3  0.000000    0.000000  0.707107  0.707107  0.000000  0.000000
4  1.000000    0.000000  0.000000  0.000000  0.000000  0.000000
5  0.000000    0.000000  1.000000  0.000000  0.000000  0.000000
6  0.000000    0.000000  0.000000  0.000000  0.000000  0.000000
7  1.000000    0.000000  0.000000  0.000000  0.000000  0.000000